.App {
  margin-top: 15px;
}
.App .App-header {
  font-family: "Goblin One", cursive;
  text-align: center;
}
.App .footer {
  text-align: center;
  margin: 15px;
}
.App .footer a {
  text-decoration: none;
}
