.Phonetics {
  height: 45px;
}
.Phonetics a {
  text-decoration: none;
  border: 1px solid rgba(194, 191, 191, 0.867);
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
  color: blue;
  font-size: 15px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #6c6a73;
  color: white;
}
.Phonetics .text {
  opacity: 0.5;
  font-weight: bold;
}
